.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

.form-page-layout {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-design {
  padding: 0 0 0 10px;
  margin: 0;
  outline: none;
  border: 1px solid #00264700;
  background-color: #ffffff00;
}

.input-design:hover {
  border-bottom: 1px solid #00264744;
}

.input-design:focus {
  outline: none;
}

.select-input-design {
  border-top: 1px solid #00264700;
  border-left: 1px solid #00264700;
  border-right: 1px solid #00264700;
  border-bottom: 1px solid #00264744;
  padding: 2px;
}

.form-alignment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  backdrop-filter: blur(15px);
}

@media screen and (max-width: 599px) {
  .form-alignment {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .form-alignment {
    transform: scale(0.9);
  }
}

.input-alignment {
  margin: 10px 5px;
}
